@import 'textStyles';

[class^="card--container"] {
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card--list-item {
  box-sizing: border-box;
  padding: 1em 0em;
}

.card-header {
  font-family: $zineFontFamily;
  font-size: 1.2em;
  font-weight: 200;
  margin: 0.4em 0em 1em 0em;
}
