@import 'textStyles';

.four-o-four {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(80,80,80);
  font-family: $zineFontFamily;
  font-size: 1.4rem;
}
