@import 'textStyles';

.post-form--container {
  box-sizing: border-box;
  background-color: #FFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[class^="post-form--title"] {
  box-sizing: border-box;
  width: 100%;
  font-family: $zineFontFamily;
  font-size: 1.6em;
  color: rgb(100,100,100);
  weight: 200;
}
