@import 'textStyles';


.post-modal--container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.post-modal--message {
  font-family: $zineFontFamily;
  font-size: 1.4rem;
  font-weight: 200;
  color: rgb(80,80,80)
}

@media (min-device-width: 48em) {
  .post-modal--container {
    width: 75vw;
  }
}
