@import 'textStyles';

.post-modal--background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-modal--container {
  background-color: white;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 4rem;
}

.post-modal--container {
  font-family: $zineFontFamily;
  font-size: 1.4rem;
  font-weight: 200;
  color: rgb(80,80,80)
}
