.profile-image {
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  background-color: rgb(120,120,120);
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
