.sidebar--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar--container--header {
  flex: 0 0 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar--container--main {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.sidebar--container--footer {
  flex: 0 0 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
