.slideout--container {
  position: fixed;
  top: 0;
  left: 5rem;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slideout--card {
  pointer-events: auto;
  background-color: #FFF;
  box-sizing: border-box;
  height: 100%;
  width: 25rem;
  border-right: 1px solid rgb(200,200,200)
}
