.zine-logo {
  font-family: 'Caveat', cursive;
  font-size: 10rem;
  color: #FFF;
  margin-bottom: 1rem;
}

.zine-tagline {
  font-family: Helvetica, Arial, san-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: #FFF;
  margin-bottom: 3rem;
  text-align: center;
  opacity: 0.8;
}

.relaxing-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.relaxing-background:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  background: linear-gradient(120deg, #2fbef3, #2ff373, #d5f32f, #f32f73);
  height: 7000px;
  width: 7000px;
  animation: RelaxingBackgroundAnimation 100s ease infinite;
}

.zine-app--nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8rem 10rem;
  box-sizing: border-box;
}

.zine-app--footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 8rem 10rem;
}

.zine-sign-in {
  font-family: Helvetica, Arial, san-serif;
  font-weight: 200;
  font-size: 1.4rem;
  text-decoration: underline;
  color: #FFF;
  margin-top: 2rem;
  text-align: center;
  opacity: 0.8;
}

.navbar--fb-icon,
.navbar--tw-icon {
  height: 2rem;
  margin-left: 1em;
}

.button__air {
  font-family: Helvetica, Arial, sans-serif;
  background: rgba(255,255,255,0.6);
  border-radius: 20em;
  padding: 1.8em 2.4em;
  font-size: 1.4rem;
  color: rgba(0,0,0,0.7);
  border: none;
  box-shadow: 5px 10px 2px rgba(0,0,0,0.08);
  transition: 0.5s;
  cursor: pointer;
}

.button__bubble {
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(30,170,220);
  border-radius: 20em;
  padding: 1.8em 2.4em;
  font-size: 1.4rem;
  color: #FFF;
  border: none;
  box-shadow: 0px 5px 2px rgba(0,0,0,0.1);
  transition: 0.5s;
  cursor: pointer;
}

.button__bubble:hover {
  box-shadow: 0px 15px 5px rgba(0,0,0,0.1);
}

.button__air:hover {
  background: rgba(255,255,255,1);
  box-shadow: 8px 15px 5px rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.9);
}

.button__air:focus {
  outline: none
}

@keyframes RelaxingBackgroundAnimation {
  0%{ transform: translate3d(0 ,0, 0); }
  50%{ transform: translate3d(-3000px ,-3000px, 0); }
  100%{ transform: translate3d(0 ,0, 0); }
}

@media (min-device-width: 24em) {

}



@media (min-device-width: 48em) {
  .button__air {
    font-size: 1.5rem
  }

}


@media (min-device-width: 75em) {

  .zine-app--nav {
    justify-content: flex-end;
  }

}
