.zine-editor-tools--item {
  width: 3rem;
  height: 3rem;
  border-radius: 0.4em;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  cursor: pointer;
  margin: 0.2em 0em;
}
