[class^="zine-icon"] {
  border-radius: 0.4em;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(240,240,240);
  cursor: pointer
}

[class^="zine-icon"][class*="small"] { width: 1.5rem; height: 1.5rem; }
[class^="zine-icon"][class*="medium"] { width: 3rem; height: 3rem; }
[class^="zine-icon"][class*="large"] { width: 5rem; height: 5rem; }
