@import 'textStyles';

.zine--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 5rem;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.18);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.1)
}

.zine--nav--button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.zine--nav--button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 1px solid rgb(120,120,120);
  border-radius: 3rem;
  margin: 0 0.4em;
  color: rgb(80,80,80);
  font-family: $zineFontFamily;
  font-weight: 200;
  font-size: 1em;
}
